body
{
    background-size: cover;
}

h2
{
    font-family: 'Rowdies', cursive;
}

.heading
{
    width: 100%;
    text-align: left;
}

.heading h2
{
    display: inline;
}

.heading button
{
    float: right;
    border: 1px solid white;
}

.canvas
{
    box-shadow: 10px 10px 10px grey;
}

#restart_btn, #start_btn
{
    font-size: 18px;
    border-radius: 50px;
}

#footer
{
    background-color: grey;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
}

ol
{
    text-align: left;
}